<div class="gui-root">
    <div class="top-row">
        <div class="message-bar" id="message"></div>
        <div id="score-view"></div>
    </div>
    <div id="action-view"></div>
    <div class="status-row">
        <div class="locations-label" id="locations"></div>
    </div>
    <div id="piece-info"></div>
    <div class="game-area">
        <div class="team-col" id="team1"></div>
        <div class="board-col" id="board-view"></div>
        <div class="team-col" id="team2"></div>
    </div>
</div>