:host {
    display: block;
}

#squares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: var(--border-radius-lg);
    border: 2px solid var(--color-border-primary);
    width: fit-content;
}